.breadcrumb
  float: left

h3
  font-weight: 600
  font-size: 1.6em
  letter-spacing: normal
  font-family: "proxima-nova", sans-serif

.agency-stats
  text-align: center
  h3
    font-size: 1em

.pie-chart
  display: block
  height: 100px
  width: 150px
  margin: 0 auto
