.breadcrumb
  float: left

h3
  font-weight: 600
  font-size: 1.5em
  letter-spacing: normal
  font-family: "proxima-nova", sans-serif
  margin-bottom: 0.5em

.agency-stats
  h3
    font-size: 1.25em
    margin-bottom: 0.5em

.middle-text
  font-size: 0.7em
  line-height: 0
  width: 20%

.bars-container
  font-size: 0.7em
  line-height: 0
  width: 50%

.ethnicity-chart .bar
  background-color: tomato

.bar-box
  width: 100%
  margin-bottom: 0.5em

  .bar
    border-bottom-right-radius: 2px
    border-top-right-radius: 2px
    height: 1.25em
    margin-bottom: 0.25em

  .label
    font-size: 0.75em

    .name
      font-weight: bold

.bar-w
  background-color: red
  display: block
  height: 1em
  float: right
  clear: right

.bar-m
  background-color: blue
  display: block
  height: 12px
  float: left
  clear: left

.pie-chart
  display: block
  height: 100px
  width: 150px
  margin: 0 auto

.header-stats p
  &:not(:last-of-type)
    margin: 0px

.landing-facts p
  text-align: center
  &:first-of-type
    margin: 0px
    font-weight: bold

.fixed-rail
  background: white
  position: fixed
  margin-top: 0px !important
  top: 0px
  z-index: 999

.histogram-container
  text-align: left
