{% extends "layouts/data/landing.html" %}

{% block title %}Government Employee Salaries{{ block.super }}{% endblock %}

{% load humanize %}
{% load static from staticfiles %}

{% block data_app_header_id %}schools-header{% endblock %}
{% block body_class %}explorer {{ block.super }}{% endblock %}
{% block content_class %} tx-salaries {{ block.super }}{% endblock %}

{% block main_body %}

<link rel="stylesheet" href="{% static "tx_salaries/css/app.css" %}">

  <section id="intro">
    <div class="prose">
      <p>We're collecting salary data of Texas public employees, including those working at the largest state agencies as well as individual universities, public schools, cities and mass-transit operators. To date, this database contains:</p>

      <div class="grid">
        <div class="cell w-4 landing-facts">
          <p>{{ employee_count|intcomma }}</p>
          <p>employees</p>
        </div>
        <div class="cell w-4 landing-facts">
          <p>from</p>
        </div>
        <div class="cell w-4 landing-facts">
          <p>{{ org_count }}</p>
          <p>organizations</p>
        </div>
      </div>

      <p>This information is collected with the Texas Public Information Act. Each agency was contacted by the Texas Tribune and asked for its salary data.</p>
    </div>

    <div class="grid">
      <strong>Recently updated agencies</strong>
      <table class="tt-table striped">
        <thead>
          <th>Name</th>
          <th>Employees</th>
          <th>Median Salary</th>
          <th>Updated</th>
        </thead>
        <tbody>
          {% for org in recent_orgs %}
            <tr>
              <td><a href="{% url 'tx_salaries:organization' org.id %}">{{ org.name }}</a></td>
              <td>{{ org.stats.total_number|intcomma }}</td>
              <td>${{ org.stats.median_paid.compensation|intcomma }}</td>
              <td>{{ org.updated_at }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="grid">
      <strong>Highest paid employees</strong>
      <table class="tt-table striped">
        <thead>
          <th>Name</th>
          <th>Title</th>
          <th>Agency</th>
          <th>Salary</th>
        </thead>
        <tbody>
          {% for employee in top_salaries %}
            <tr>
              <td><a href="{% url 'tx_salaries:employee' employee.id %}">{{ employee.position.person.name }}</a></td>
              <td><a href="{% url 'tx_salaries:position' employee.position.post.pk %}">{{ employee.title.name }}</a></td>
              <td><a href="{% url 'tx_salaries:organization' employee.position.organization.pk %}">{{ employee.position.organization.name }}</a></td>
              <td>${{ employee.compensation|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
