{% extends "tx_salaries/layouts/base.html" %}

{% block title %}{{ org.name }}{{ block.super }}{% endblock %}

{% load humanize %}
{% load static from staticfiles %}

{% block breadcrumb_items %}
<li>{{ org.parent.name }}</li>
{% endblock %}

{% block main_content %}

<link rel="stylesheet" href="{% static "tx_salaries/css/app.css" %}">

<div class="grid overview">

  <div id="main-content" class="cell w-9">
    <div class="grid">
      <h3>{{ org.name }}</h3>
      <ul>
        <li>Department of <strong>{{ org.parent.name }}</strong></li>
        <li><strong>{{ org.stats.total_number }}</strong> employees</li>
        <li><strong>${{ org.stats.median_paid.compensation|intcomma }}</strong> median salary</li>
        <li><strong></strong></li>
        <li>Data provided by {{ org.parent.name }} TPIA office on {{ org.updated_at }}</li>
      </ul>
    </div>

    <hr>

    <div class="grid">
      <div class="cell w-8">
        <h3>Top salaries in {{ org.name }}</h3>
        <table class="tt-table striped">
          <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Department</th>
            <th>Salary</th>
          </thead>
          <tbody>
            {% for employee in top_salaries %}
              <tr>
                <td><a href="employee/{{ employee.id }}">{{ employee.position.person.name }}</a></td>
                <td>{{ employee.title.name }}</td>
                <td>{{ employee.position.organization.name }}</td>
                <td>${{ employee.compensation|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="cell w-4">
        <h3>Top job titles in {{ org.name }}</h3>
        <table class="tt-table striped">
          <thead>
            <th>Title</th>
            <th>Median Salary</th>
          </thead>
          <tbody>
            {% for job in top_jobs %}
              <tr>
                <td>{{ job.position.label }} </td>
                <td>${{ job.median_paid.compensation|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="grid">
      <h3>Gender</h3>
      <div class="cell w-2 agency-stats">
        <ul>
          <li>
            <h3>{{ org.stats.female.total_number|intcomma }}</h3>
            <p>female employees</p>
          </li>
          <li>
            <h3>{{ org.stats.male.total_number|intcomma }}</h3>
            <p>male employees</p>
          </li>
        </ul>
      </div>

      <div class="cell w-4">
        <img class="pie-chart" src="https://chart.googleapis.com/chart?cht=p&chd=t:{{ org.stats.female.total_number }},{{ org.stats.male.total_number}}&chs=150x100&chdl=Female|Male">
      </div>

      <div class="cell w-2 agency-stats">
        <ul>
          <li>
            <h3>${{ org.stats.female.median_paid.compensation|intcomma }}</h3>
            <p>Median female salary</p>
          </li>
          <li>
            <h3>${{ org.stats.male.median_paid.compensation|intcomma }}</h3>
            <p>Median male salary</p>
          </li>
        </ul>
      </div>

      <div class="cell w-4">
        <!-- <div class="middle-text">
          {% for slice in org.stats.female.distribution.slices %}
            <p>${{ slice.start|intcomma }} &#8212; ${{ slice.end|intcomma }}</p>
          {% endfor %}
        </div> -->
        <div class="bars-container" style="float:left;">
          {% for slice in org.stats.female.distribution.slices %}
          <p>
            <div class="bar-w" style="width:{% widthratio slice.count 160 100 %}px"></div>
            <span style="float:right; line-height:0.5; padding-right: 5px;">{{ slice.count }}</span>
          </p>
          {% endfor %}
        </div>
        <div class="bars-container" style="float:right;">
          {% for slice in org.stats.male.distribution.slices %}
          <p>
            <div class="bar-m" style="width:{% widthratio slice.count 160 100 %}px"></div>
            {{ slice.count }}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>

    <hr>

    <div class="grid">
      <h3>Ethnicity</h3>
      <div class="cell w-8 agency-stats">
        <h3>Employees by ethnicity</h3>
        <div class="bar-m" style="width:{% widthratio org.stats.white.total_number 500 200 %}px"></div>
        <div class="bar-m" style="width:{% widthratio org.stats.black.total_number 500 200 %}px"></div>
        <div class="bar-m" style="width:{% widthratio org.stats.hispanic.total_number 500 200 %}px"></div>
        <div class="bar-m" style="width:{% widthratio org.stats.asian.total_number 500 200 %}px"></div>
      </div>
      <div class="cell w-4 agency-stats">
        <h3>Salaries by ethnicity</h3>
        <table class="tt-table striped">
          <thead>
            <th>Ethnicity</th>
            <th>Median Salary</th>
          </thead>
          <tbody>
            <tr>
              <td>White</td>
              <td>${{ org.stats.white.median_paid.compensation|intcomma }}</td>
            </tr>
            <tr>
              <td>Black</td>
              <td>${{ org.stats.black.median_paid.compensation|intcomma }}</td>
            </tr>
            <tr>
              <td>Hispanic</td>
              <td>${{ org.stats.hispanic.median_paid.compensation|intcomma }}</td>
            </tr>
            <tr>
              <td>Asian</td>
              <td>${{ org.stats.asian.median_paid.compensation|intcomma }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="grid">

    </div>

  </div><!-- end main -->

{% endblock %}
