{% extends "tx_salaries/layouts/base.html" %}

{% block title %}{{ org.name }}{{ block.super }}{% endblock %}

{% load humanize %}
{% load static from staticfiles %}

{% block breadcrumb_items %}
<li>{{ org.parent.name }}</li>
{% endblock %}

{% block main_content %}

<link rel="stylesheet" href="{% static "tx_salaries/css/app.css" %}">

<div class="grid overview">

  <div id="main-content" class="cell w-9">
    <div class="grid">
      <h3>{{ org.name }}</h3>
      <ul>
        <li>Department of <strong>{{ org.parent.name }}</strong></li>
        <li><strong>{{ org.stats.total_number }}</strong> employees</li>
        <li><strong>${{ org.stats.median_paid.compensation|intcomma }}</strong> median salary</li>
        <li>Data provided by {{ org.parent.name }} TPIA office on {{ org.updated_at }}</li>
      </ul>
      <div class="grid overview_header">
        <ul class="nav nav-list">
          <div class="cell w-3">
            <li class="active yellow" id="overview-arrow">
                <div class="pointer"></div>
                <a href="#overview">Overview</a>
            </li>
          </div>
          <div class="cell w-3">
            <li class="purple" id="gender-arrow">
              <div class="pointer"></div>
              <a href="#gender">Gender</a>
            </li>
          </div>
          <div class="cell w-3">
            <li class="green" id="ethnicity-arrow">
              <div class="pointer"></div>
              <a href="#ethnicity">Ethnicity</a>
            </li>
          </div>
          <div class="cell w-3">
            <li class="orange" id="employment-arrow">
              <div class="pointer"></div>
              <a href="#employment">Length of employment</a>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <hr>

    <div class="grid">
      <a name="overview" id="overview"></a>
      <div class="cell w-8">
        <h3>Top salaries in {{ org.name }}</h3>
        <table class="tt-table striped condensed">
          <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Department</th>
            <th>Salary</th>
          </thead>
          <tbody>
            {% for employee in top_salaries %}
              <tr>
                <td><a href="{% url 'tx_salaries:employee' employee.id %}">{{ employee.position.person.name }}</a></td>
                <td>{{ employee.title.name }}</td>
                <td>{{ employee.position.organization.name }}</td>
                <td>${{ employee.compensation|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="cell w-4">
        <h3>Top job titles in {{ org.name }}</h3>
        <table class="tt-table striped condensed">
          <thead>
            <th>Title</th>
            <th>Median Salary</th>
          </thead>
          <tbody>
            {% for job in top_jobs %}
              <tr>
                <td>{{ job.position.label }} </td>
                <td>${{ job.median_paid.compensation|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="grid">
      <h3>Gender</h3>
      <a name="gender" id="gender"></a>
      <div class="cell w-2 agency-stats">
        <ul>
          <li>
            <h3>{{ org.stats.female.total_number|intcomma }}</h3>
            <p>female employees</p>
          </li>
          <li>
            <h3>{{ org.stats.male.total_number|intcomma }}</h3>
            <p>male employees</p>
          </li>
        </ul>
      </div>

      <div class="cell w-2 agency-stats">
        <ul>
          <li>
            <h3>${{ org.stats.female.median_paid.compensation|intcomma }}</h3>
            <p>Median female salary</p>
          </li>
          <li>
            <h3>${{ org.stats.male.median_paid.compensation|intcomma }}</h3>
            <p>Median male salary</p>
          </li>
        </ul>
      </div>

      <div class="cell w-8">
        <strong>Number of women/men</strong>
        <div class="distribution-chart">
          <div style="width: 50%; float: left; border-right: 1px solid #222222;">
            {% for slice in org.stats.male.distribution.slices %}
            <div class="bar-box">
              <div class="bar bar-male" style="width: {% widthratio slice.count org.stats.total_number 100 %}%; float: right;"></div>
            </div>
            {% endfor %}
          </div>
          <div style="width: 50%; float: right;">
            {% for slice in org.stats.female.distribution.slices %}
            <div class="bar-box">
              <div class="bar bar-female" style="width: {% widthratio slice.count org.stats.total_number 100 %}%; float: left;"></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="grid">
      <h3>Ethnicity</h3>
      <a name="ethnicity" id="ethnicity"></a>
      <div class="cell w-8 agency-stats">
        <h3>Employees by ethnicity</h3>
        <div class="chart ethnicity-chart">
        {% for race in org.stats.races %}
          <div class="bar-box">
            <div class="bar" style="width: {% widthratio race.stats.total_number org.stats.total_number 100 %}%"></div>
            <div class="label">
              <span class="name">{{ race.race }}</span> {% widthratio race.stats.total_number org.stats.total_number 100 %}% | {{ race.stats.total_number|intcomma }} employees
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="cell w-4 agency-stats">
        <h3>Salaries by ethnicity</h3>
        <table class="tt-table striped condensed">
          <thead>
            <th>Ethnicity</th>
            <th>Median Salary</th>
          </thead>
          <tbody>
            {% for race in org.stats.races %}
              <tr>
                <td>{{ race.race }}</td>
                <td>${{ race.stats.median_paid.compensation|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="grid">
    <h3>Length of employment</h3>
    <a name="employment" id="employment"></a>
      <div class="cell w-8 agency-stats">
        <h3>Employees by length of employment</h3>
        <div class="chart length-chart">
        {% for o in org.stats.time_employed %}
          <div class="bar-box">
            <div class="bar" style="width: {% widthratio o.stats.total_number org.stats.total_number 100 %}%"></div>
            <div class="label">
              <span class="name">{{ o.time }}</span> {{ o.stats.total_number|intcomma }}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="cell w-4 agency-stats">
        <h3>Salaries by length of employment</h3>
        <table class="tt-table striped condensed">
          <thead>
            <th>Length of employment</th>
            <th>Median Salary</th>
          </thead>
          <tbody>
            {% for o in org.stats.time_employed %}
              <tr>
                <td>{{ o.time }}</td>
                <td>${{ o.stats.median_paid.compensation|intcomma }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div><!-- end main -->
<script src="{% static "tx_salaries/js/app.js" %}"></script>
{% endblock %}
